.btn-zth {
  color: #ffffff;
  background-color: #5271ff;
  border-color: #103024;
}

.btn-zth:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
  },
.btn-zth:focus,
.btn-zth:active,
.btn-zth.active,
.open .dropdown-toggle.btn-zth {
  color: #ffffff;
  background-color: #3cc492;
  border-color: #103024;
}

.btn-zth:active,
.btn-zth.active,
.open .dropdown-toggle.btn-zth {
  background-image: none;
}

.btn-zth.disabled,
.btn-zth[disabled],
fieldset[disabled] .btn-zth,
.btn-zth.disabled:hover,
.btn-zth[disabled]:hover,
fieldset[disabled] .btn-zth:hover,
.btn-zth.disabled:focus,
.btn-zth[disabled]:focus,
fieldset[disabled] .btn-zth:focus,
.btn-zth.disabled:active,
.btn-zth[disabled]:active,
fieldset[disabled] .btn-zth:active,
.btn-zth.disabled.active,
.btn-zth[disabled].active,
fieldset[disabled] .btn-zth.active {
  background-color: #5271ff;
  border-color: #450118;
}

.btn-zth .badge {
  color: #5271ff;
  background-color: #ffffff;
}

.button2 {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
  background-color: #5271ff;
  border: none;
  color: #fff;
  padding: 2px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button2:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button2:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button2:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button2:focus { outline:0; }

.button3 {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  background-color: #5271ff;
  border: none;
  color: #fff;
  padding: 2px;
  width: 110px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button3:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button3:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button3:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button3:focus { outline:0; }

.button4 {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
  background-color: #5271ff;
  border: none;
  color: #fff;
  padding: 8px;
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button4:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button4:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button4:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button4:focus { outline:0; }
